<div class="container">
	<div class="card">
<div class="card-heading text-center">
<h4> Editar usuario </h4>
</div>
<div class="card-body">
	<%= render 'form' %>
</div>
<%= link_to 'Listado de Usuarios', users_path, class: 'btn btn-primary' %>
</div>