<div class="container">
	<div class="card">
		<div class="card-header text-center">
			<h4> Nuevo Usuario </h4>
		</div>
		<div class="card-body">
			<%= render 'form' %>
		</div>
		<%= link_to 'Listado de Usuarios', users_path, class: 'btn btn-primary' %>
	</div>
</div>