<div class="card">
	<div class="card-header text-center">
		<h3> ¡Bienvenido a nuestro Chat Oline!</h3>
	</div>
	<div class="card-body bg-dark">
		<div class="row">
			<div class="col-md-6 col-centered">
				<div class="xat-container" id="xat-container">
					<embed wmode="transparent" src="https://www.xatech.com/web_gear/chat/chat.swf" quality="high" width="800" height="600" name="chat" FlashVars="id=218653968" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="https://xat.com/update_flash.php" />
				</div>
			</div>
		</div>
	</div>
</div>