<li>
	<%= image_tag(post.user.cl_image_props, class: 'avatar') unless post.user.cl_image_props.nil? %>
	<%= post.user.name %> : <%= post.comment %><br>
	<small><%= link_to 'Eliminar', post_path(post), metho: :delete%></small>
</li>