<%= form_for @post, html: { remote: true, 'onSubmit': 'postPostsProcess()', class: 'form-inline' } do |f| %>
<div class="form-row">
	<div class="input-group" style= 'width: 0 auto;'>
		<%= f.text_area :comment, class: 'form-control' %>
		<div class="input-group-append">
			<%= button_tag class: 'btn btn-primary' do %>
			<%= fa_icon 'paper-plane', 'aria-hidden': true %>
			<% end -%>
		</div>
	</div>
</div>
<% end %>
<script type="text/javascript">
	function postPostsProcess(){
		$('textareas')
	}
</script>