<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
	<%= link_to home_random_path, class: 'nav-link' do %>
		<%= fa_icon 'fw gift' %>
		<%= content_tag :span, 'Random', class: 'nav-link-text' %>
	<% end %>
</li>
<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
  <a class="nav-link" href="<%= home_chat_url %>">
    <i class="fa fa-fw fa-keyboard-o"></i>
    <span class="nav-link-text">Chat Online!</span>
  </a>
</li>